<a href="https://colab.research.google.com/github/eji58/Python-Core/blob/main/Core_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

####First code!

In [ ]:
import sys
sys.version;
sys.argv

In [ ]:
help(sys)

In [ ]:
print("Holle World!")

####Data Types!

In [ ]:
#String 
a='Esraa sultan'
#Integer & Flaot
b=7 ; c =5.1
#Boolen
d=True
e=False
a,b,c,d,e

In [ ]:
#check dataType
type(a),type(b),type(c),type(d),type(e)

In [ ]:
#convert between the types
str(b),int(d),int(e)

In [ ]:
9/7,type(9/7),9//7,type(9//7)

###Operators

####Arithmetics

In [ ]:
#Addation
a=9+7
#Substraction
b=9-7
#Multiplication
c=9*7
#Division
d=9/7
#Floor Division
e=9//7
#Modulus
f=9%7
#Exponentiation
g=9**7
a,b,c,d,e,f,g

In [ ]:
#An example: let's try to calculate how many hours in 360 minutes?
one_hour=60 #min
num_min=360
num_hour=num_min/one_hour
print(int(num_hour), "hours")

In [ ]:
#store values in one line
a,b,c=1,2,3
a,b,c

####Logical

In [ ]:
#And 
True  and True, True  and False, False and True, False and False

In [ ]:
#Or
True  or True, True  or False, False or True, False or False

In [ ]:
#Not
not True, not False

####Relational

In [ ]:
# > , < 
7>8,8>7

In [ ]:
# >=  , <=  
7>=8,8>=7,7>=7,8>=8

In [ ]:
# != , ==
7!=8,8==7

####Assignment

In [ ]:
# = , += , -= *= , /= , %= , //= , **=
a=7
a **= 5   # a = a + 5
a

####Bitwise

In [ ]:
#  &  bitwise and
0  &  0 ,0  &  1, 1  &  0 ,1  &  1

In [ ]:
#  |  bitwise  or
0  |  0 ,0  |  1, 1  |  0 ,1  |  1

In [ ]:
#  ^  bitwise  xor
0  ^  0 ,0  ^  1, 1  ^  0 ,1  ^  1

In [ ]:
#  <<  left shift , >>  right shift  --> 128,64,32,16,8,4,2
32 << 2,16 >> 2

###Conditional Statements

In [ ]:
if True :
  print('Hi')
else:
  print('Hello')

In [ ]:
if ~False : # ~ mean not 
  print('Hi')
else:
  print('Hello')

####Ternary Statement

In [ ]:
# value_if_true if condition else value_if_false
a =True 
b =5 if a else 7
b

In [ ]:
# (if_test_is_false, if_test_is_true)[test]
a =True 
b =(7,5)[a]
b

In [ ]:
# None or 0
a= None
b= a or 'NoData'
b

 ### Loops Statements

In [ ]:
i =1
while i<=10:
  print(i)
  i+=1

In [ ]:
i =1
while i<=10:
  print(i,end="-")
  i+=1

####Continue & Break statement

In [ ]:
i =1
while i<=10:
  print(i)
  if i==7:
    break 
  i+=1

In [ ]:
i=[1,2,3,4,5,6,7,8,9]
for i in i:
  print(i)

In [ ]:
range(7)

###Strings

In [ ]:
a="Esraa Sultan"

In [ ]:
#indxing
a[0],a[11]

In [ ]:
len(a)

In [ ]:
a.split(' ')

In [ ]:
#Negative indaxing
a[-6],a[-1]

In [ ]:
#Slicing
(a[0:5],a[6:12]),(a[:5],a[6:])# it's the same

In [ ]:
#Stiding 
#to skip some characters [start:end:step]
a[0:5:2]

In [ ]:
#Concatenate
a='Esraa'
b='Sultan'
c=a+' '+b
c

####Operation

In [ ]:
4* " Hello"

In [ ]:
msg="Hello World!"
u_case=msg.upper()
l_case=msg.lower()
t_case=msg.title()


u_case,l_case,t_case

In [ ]:
msg.replace("Hello",'Hi')
msg

In [ ]:
msg.find("rl")

In [ ]:
a="abcdefg"
for i in range(len(a)):
  print(a[i].upper())

In [ ]:
# fibonacii series
## 0 1 1 2 3 5 8

In [ ]:
n = int(input("Enter a number:..."))
a=0
b=1
for i in range(n):
  print(a,end=' ')
  c=a+b
  a=b
  b=c

###Funcation

In [ ]:
# simple
def fun(a):
  print(a)
fun("Hello")

In [ ]:
#argument
def add(a,b):
  print(a+b)

add(5,6)

In [ ]:
#return statement
def sub(a,b):
  return(a-b)

print(sub(5,3))

In [ ]:
#default argumnet
def say(msg, times=1):
  return(msg*times)

say("Hi ",3),say("bay ")

In [ ]:
#Reference 
def operator(a,b):
  return(a*b)
mult=operator
operator(5,3)

In [ ]:
# funcation as argument 
def max(a,b):
  return a if a>b else b


def findMax(test,list1, list2):
  return  test(test(list1[0],list1[1]),test(list2[0],list2[1]))
#              max       2        3            4       5
#          max               3                     5
#                                       5
findMax(max,[2,3],[4,5])

In [ ]:
help(print)

In [ ]:
def hello():
  """
this docstring will show when the help() function 
is use to explain the input, output and expression of the function
ex: this function print Hello string
  """
  print("Hello")
hello(),help(hello)

In [ ]:
#Lambda 
sub = lambda a , b : a-b
sub(9,3)

In [ ]:
#Filter --> work like search on the list based on some expression
l=[11,22,33,44,55,66,77,88,99]

mode22=list(filter(lambda x:x%2==0,l))
mode22

In [ ]:
l=[11,22,33,44,55,66,77,88,99]

mode22=list(filter(lambda x:x%2==0,l))
mode22

In [ ]:
#Map --> work like search and add some opretion on the list 
l=[11,22,33,44,55,66,77,88,99]
times2=list(map(lambda x:x*2,l))
times2